<div class="inner">

    <div class="alt">
        <h2>NLPlayground</h2>
    </div>
    <!-- Menu -->
    <nav id="menu">
        <header class="major">
            <h2>Menu</h2>
        </header>
        <ul>
            <li><a href="/index.html">Homepage</a></li>
            <li>
                <span class="opener">Games</span>
                <ul>
                    <li><a href="#">Games Home</a></li>
                    <li><a href="/games/madgab">MadGab Generator</a></li>
                </ul>
            </li>
            <li>
                <span class="opener">Mix and Mash</span>
                <ul>
                    <li><a href="#">Mix and Mash Home</a></li>
                    <li><a href="/mixmash/biblicaltrump.html">Trump x Bible</a></li>
                </ul>
            </li>
            <li>
                <span class="opener">Neural Network Text Generator</span>
                <ul>
                    <li><a href="">NN Text Generation Home</a></li>
                    <li><a href="">Boy Names</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>Get in touch</h2>
        </header>
        <p>For any questions or ideas regarding this site, feel free to reach out!</p>
        <ul class="contact">
            <li class="fa-envelope-o"><a href="#">bgreenawald@gmail.com</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">Developed and Maintained by <a href="https://bgreenawald.github.io/">Ben Greenawald</a>
            Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5
                UP</a>.</p>
    </footer>

</div>

<script>
    /*
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

    (function ($) {

        var $window = $(window),
            $body = $('body');
        // Sidebar.
        var $sidebar = $('#sidebar'),
            $sidebar_inner = $sidebar.children('.inner');

        // Inactive by default on <= large.
        breakpoints.on('<=large', function () {
            $sidebar.addClass('inactive');
        });

        breakpoints.on('>large', function () {
            $sidebar.removeClass('inactive');
        });

        // Hack: Workaround for Chrome/Android scrollbar position bug.
        if (browser.os == 'android' &&
            browser.name == 'chrome')
            $('<style>#sidebar .inner::-webkit-scrollbar { display: none; }</style>')
            .appendTo($head);

        // Toggle.
        $('<a href="#sidebar" class="toggle">Toggle</a>')
            .appendTo($sidebar)
            .on('click', function (event) {

                // Prevent default.
                event.preventDefault();
                event.stopPropagation();

                // Toggle.
                $sidebar.toggleClass('inactive');

            });

        // Events.

        // Link clicks.
        $sidebar.on('click', 'a', function (event) {

            // >large? Bail.
            if (breakpoints.active('>large'))
                return;

            // Vars.
            var $a = $(this),
                href = $a.attr('href'),
                target = $a.attr('target');

            // Prevent default.
            event.preventDefault();
            event.stopPropagation();

            // Check URL.
            if (!href || href == '#' || href == '')
                return;

            // Hide sidebar.
            $sidebar.addClass('inactive');

            // Redirect to href.
            setTimeout(function () {

                if (target == '_blank')
                    window.open(href);
                else
                    window.location.href = href;

            }, 500);

        });

        // Prevent certain events inside the panel from bubbling.
        $sidebar.on('click touchend touchstart touchmove', function (event) {

            // >large? Bail.
            if (breakpoints.active('>large'))
                return;

            // Prevent propagation.
            event.stopPropagation();

        });

        // Hide panel on body click/tap.
        $body.on('click touchend', function (event) {

            // >large? Bail.
            if (breakpoints.active('>large'))
                return;

            // Deactivate.
            $sidebar.addClass('inactive');

        });

        // Scroll lock.
        // Note: If you do anything to change the height of the sidebar's content, be sure to
        // trigger 'resize.sidebar-lock' on $window so stuff doesn't get out of sync.

        $window.on('load.sidebar-lock', function () {

            var sh, wh, st;

            // Reset scroll position to 0 if it's 1.
            if ($window.scrollTop() == 1)
                $window.scrollTop(0);

            $window
                .on('scroll.sidebar-lock', function () {

                    var x, y;

                    // <=large? Bail.
                    if (breakpoints.active('<=large')) {

                        $sidebar_inner
                            .data('locked', 0)
                            .css('position', '')
                            .css('top', '');

                        return;

                    }

                    // Calculate positions.
                    x = Math.max(sh - wh, 0);
                    y = Math.max(0, $window.scrollTop() - x);

                    // Lock/unlock.
                    if ($sidebar_inner.data('locked') == 1) {

                        if (y <= 0)
                            $sidebar_inner
                            .data('locked', 0)
                            .css('position', '')
                            .css('top', '');
                        else
                            $sidebar_inner
                            .css('top', -1 * x);

                    } else {

                        if (y > 0)
                            $sidebar_inner
                            .data('locked', 1)
                            .css('position', 'fixed')
                            .css('top', -1 * x);

                    }

                })
                .on('resize.sidebar-lock', function () {

                    // Calculate heights.
                    wh = $window.height();
                    sh = $sidebar_inner.outerHeight() + 30;

                    // Trigger scroll.
                    $window.trigger('scroll.sidebar-lock');

                })
                .trigger('resize.sidebar-lock');

        });

        // Menu.
        var $menu = $('#menu'),
            $menu_openers = $menu.children('ul').find('.opener');

        // Openers.
        $menu_openers.each(function () {

            var $this = $(this);

            $this.on('click', function (event) {

                // Prevent default.
                event.preventDefault();

                // Toggle.
                $menu_openers.not($this).removeClass('active');
                $this.toggleClass('active');

                // Trigger resize (sidebar lock).
                $window.triggerHandler('resize.sidebar-lock');

            });

        });

    })(jQuery);
</script>